controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    position_controller:
      type: position_controllers/JointGroupPositionController

    effort_controller:
      type: effort_controllers/JointGroupEffortController

# position_controller:
#   ros__parameters:
#     joints:
#       - body_to_foot

effort_controller:
  ros__parameters:
    joints:
      - j1
    command_interfaces:
      - effort
    state_interfaces:
      - position
      - effort
      
