controller_manager:
  ros__parameters:
    update_rate: 60  # Hz

    use_sim_time: true 

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    position_controller:
      type: position_controllers/JointGroupPositionController

position_controller:
  ros__parameters:
    joints: 
      - upper_leg_to_lower_leg

      
