controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    effort_controller:
      type: effort_controllers/JointGroupEffortController


effort_controller:
  ros__parameters:
    joints:
      - upper_leg_to_lower_leg
    # command_interfaces:
    #   - effort
    # state_interfaces:
    #   - position
    #   - effort
      
