<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="volta">

    <ros2_control name="GazeboSystem" type="system">
      <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

    <joint name="upper_leg_to_lower_leg">
      <command_interface name="effort"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="lower_leg_to_passive_lower_leg">
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    
  </ros2_control>


  <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
          <parameters>$(find monoped_description)/config/controller_full.yaml</parameters>
          <parameters>$(find monoped_description)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
      </plugin>
  </gazebo>

  <gazebo reference="body_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <visualize>true</visualize>
      <topic>/imu_data</topic>
      <gz_frame_id>world</gz_frame_id>
      <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu"/>
      <pose>0 0 0 0 0 0</pose>
    </sensor>

    <sensor name="altimeter_sensor" type="altimeter">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <visualize>true</visualize>
      <topic>/altimeter_data</topic>
      <pose>0 0 0 0 0 0</pose> 
      <plugin filename="libignition-gazebo-altimeter-system.so" name="ignition::gazebo::systems::Altimeter"/>
    </sensor>
  </gazebo>



</robot>
