<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="joint_damping" value="0.1"/>
    <xacro:property name="joint_friction" value="0.05"/>

    <xacro:property name="contact_stiffness" value="200"/>
    <xacro:property name="contact_damping" value="0.005"/>

</robot>