<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- body/box -->
    <xacro:property name="b_x" value="0.15"/>
    <xacro:property name="b_y" value="0.15"/>
    <xacro:property name="b_z" value="0.15"/>
    <!-- upper_leg/cyclinder -->
    <xacro:property name="ul_r" value="0.05"/>
    <xacro:property name="ul_l" value="0.1"/>
    <!-- lower_leg/cyclinder -->
    <xacro:property name="ll_r" value="0.025"/>
    <xacro:property name="ll_l" value="0.1"/>
    <!-- foot/box -->
    <xacro:property name="f_x" value="0.1"/>
    <xacro:property name="f_y" value="0.1"/>
    <xacro:property name="f_z" value="0.01"/>
    <!-- foot/cyclinder -->
    <xacro:property name="f_r" value="0.01"/>
    <xacro:property name="f_l" value="0.15"/>
    <!-- foot_contact/sphere -->
    <xacro:property name="fc_r" value="0.001"/>

    <!-- joint origin z asix -->
    <!-- fix: body2upper_leg -->
    <xacro:property name="b2ul" value="-0.125" />
    <!-- prismatic: upper_leg2lower_leg -->
    <xacro:property name="ul2ll" value="-0.1" />
    <!-- fix: lower_leg2foot -->
    <xacro:property name="ll2f" value="-0.05" />

    <xacro:property name="mass_body" value="1.0"/>
    <xacro:property name="mass_upper_leg" value="0.001"/>
    <xacro:property name="mass_lower_leg" value="0.001"/>
    <xacro:property name="mass_foot" value="0.08"/>

    <!-- assume no damping and friction for ideal case -->
    <xacro:property name="joint_damping" value="0.0"/>
    <xacro:property name="joint_friction" value="0.0"/>
    <!-- assume set joint_stiffness for prismatic joint -->
    <xacro:property name="joint_stiffness" value="1000"/>


</robot>