controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    effort_controller:
      type: effort_controllers/JointGroupEffortController

effort_controller:
  ros__parameters:
    use_sim_time: true
    joints:
      - thigh_to_shank
      - body_to_rw_left
      - body_to_rw_right
    command_interfaces:
      - effort
    state_interfaces:
      - position
      - velocity
      - effort
